# Python
*.pyc
*.pyo
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Azure Databricks
.dbfs/
*.dbc

# SQL Server
*.mdf
*.ldf

# Power BI
.pbix

# Virtual Environment
venv/
env/

# IDEs and Editors
.vscode/
.idea/

# Log files
*.log

# Data files
*.csv
*.xlsx
*.json
*.parquet

# Temporary files
*.tmp
*.bak

# Other
*.DS_Store
